p {
  margin: 0 !important;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
.navbar {
  background-color: #007580;
  font-size: 1.5rem;
}

.navbar form {
  font-size: 1rem;
}

.navbar a {
  padding: 0;
  text-decoration: none;
  color: #ff6600;
  text-shadow: 2px #fed049;
}

.pageTitle:hover {
  color: #fed049;
}
